---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import { BLOG, SITE } from "@consts";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const tags = [...new Set(posts.flatMap((post) => post.data.tags))].sort(
  (a, b) => a.localeCompare(b),
);

// Calculate tag counts
const tagCounts: Record<string, number> = {};
posts.forEach(post => {
  post.data.tags.forEach(tag => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});

const estimated_initial_size =
  28 + posts.length * 158 + (posts.length - 1) * 12;
---

<PageLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
  <TopLayout>
    <!-- Title and description removed for compact layout -->
  </TopLayout>
  <BottomLayout>
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"posts"}
        tags={tags}
        data={posts}
        tagCounts={tagCounts}
        editMode={SITE.EDIT_MODE}
      />
    </div>
  </BottomLayout>
</PageLayout>